/*alle pagina's*/

* {
    margin: 0;
    padding: 0;
  }

@font-face {
    font-family:'PFD Black';
    src: url('../fonts/PlayfairDisplay-Black.ttf') format('TrueType');
}

@font-face {
    font-family: 'PFD Regular';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('TrueType');
}

@font-face {
    font-family: 'PFD Medium';
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('TrueType');
}

h1{
    font-family: 'PFD Black', sans-serif; 
    letter-spacing: 0.04em;
  }

html {
    background-color:rgba(196, 173, 149, 0.784);

    font-family: 'PFD Regular', sans-serif; 
    letter-spacing: 0.04em;
    color: #8f3e5c;
  }

 /*body header*/

header nav{
  position: absolute;
  z-index: 999;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100vw;
}

header nav ul li{ 
  padding: 1.4em;
  margin: 1em;

  text-transform: uppercase;
  list-style: none;
  font-family: 'PFD Medium', sans-serif; 
}

header nav ul li a{ 
  text-decoration: none;
  color: white;
  transition: color 250ms ease-in-out;
}

nav li.selected{
  color: #c4547d;
}

a:hover,
a:visited:hover,
a:active,
a:visited:active {
  color: #c4547d;
  text-decoration: underline;
}

/*------------------------------------------home------------------------------------------------*/

header section { /*titel*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  color: white;
  text-align: center;
  font-size: 1.4em;

  width: 100vw;
  height: 100vh;
}

header section a{ /*'button'*/ 
  width: 14%;
  margin:1.20em;

  color: white; 
  transition: color 250ms ease-in-out;
  text-decoration: none;
  font-size: 0.80em;

  border: 0.75px solid white;
  border-radius: 1.20em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/*main*/

.achtergrond-beginscherm{ 
  background-image: url('../images/rivier-en-bomen.avif');
  background-size: 100% auto;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#over-en-missie section{
  display: flex;
  flex-direction: column;
}

#over-en-missie h2{ 
  text-transform: uppercase;
  font-size: 2em;

  margin-top: 2em;
  margin-bottom: 0.5em;
}

#over-en-missie p{ 
  margin-right: 10em;
}

.foto-van-sela-voor{ 
  object-fit: cover;
  width: 22vw;
  
  margin-top: 3em;
  margin-right: 5em;
  margin-left: 5em;

  border-radius: 12em;
}

/*------------------------------------------toen------------------------------------------------*/

body.toen{ 
  display: flex;
  flex-direction: column;
}

body.toen main section:nth-of-type(odd), /* TOEN en ontdekking planten*/
body.toen main section:nth-of-type(even){ /*SU en ontwikkeling*/
  display: flex;
  flex-direction: row;

  background-color: rgba(196, 173, 149, 0.617);

  margin-bottom: 1em;
}

body.toen main section img{ /* TOEN en ontdekking planten*/
  object-fit: cover;
  width: 35vw;
  height: 30vw;
}

body.toen main section div:nth-of-type(odd){ /* TOEN en ontdekking planten*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 3em 2em 1em 2em;
}

body.toen h1{  /* TOEN en ontdekking planten*/
  font-size: 7em;
  text-transform: uppercase;
  writing-mode: vertical-lr; 
}

body.toen section div h2{ /* TOEN en ontdekking planten*/  /*SU en ontwikkeling*/
  font-size: 1.5em;
  text-transform: uppercase;

  margin-bottom: 0.5em;
}

body.toen main section:nth-of-type(even){ /*SU en ontwikkeling*/
  display: flex;
  flex-direction: row-reverse;
}

body.toen main section a{ /*SU*/
  color: #c4547d;
}

.verticaal h1{
  flex-direction: column;
}

/*------------------------------------------nu------------------------------------------------*/

body.nu figure img{ /*afbeelding*/
  object-fit: cover;
  
  width: 100vw;
  height: 100vh;
}

body.nu main section div h1{ /*h1 NU*/
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-size: 2em;

  margin-top: 1em;
  margin-bottom: 0.5em;
}

time{ /*tijd*/
  display: flex;
  justify-content: center;
  
  font-size: 0.56em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  height: 6vh;
}

body.nu main section p{ /*tekst*/
  width: 44vw;
  margin: 0 auto;
}

.kleur{ /*nu H1 & vision board bij dan*/
  animation: kleurentekst 7s linear 3s infinite normal none running;
}

@keyframes kleurentekst { /*nu H1 & vision board bij dan*/
  0% {
    color: #8f3e5c;
  }

  25% {
    color: #e2739c;
  }
  
  75% {
    color: #f1c3d7;
  }
  
  100%{
    color: #8f3e5c;
  }
}

/*------------------------------------------dan------------------------------------------------*/

body.dan main section{ 
  display: flex;
  flex-direction: column;
}

body.dan section h1{/*titel*/
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-size: 7em;

  margin-top: 1.5em;
}

body.dan section h2{ /*tekst vision board*/ 
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-size: 1em;

  margin-bottom: 5em;
  margin-top: 2em;
}

body.dan section figure{ /*grid*/ /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns*/
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 0.25em;
  margin-left: 0.24em;
  margin-right: 0.25em;
}

body.dan section figure img, video{ /*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video*/
  height: 30vw;
  width: 33vw;
  object-fit: cover;
}

body.dan section figure p{ 
  text-align: center;
  margin: 2em;
}

/*main footer*/ /*home*/ 

main footer, #over-en-missie{ /*home*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2em 3.5em 3em 3.5em;
}

main footer figure{ /*home*/
  display: flex;
  flex-direction: column;
  position: relative;

  margin-top: 2em;
  width: 33vw;
}

main footer figure div p{ 
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: 0.6s ease-in-out;

  color: white;
  font-size: 1em;
}

main footer figure:hover div p{ 
  opacity: 1;
}

main footer img{ /*home*/
  object-fit: cover;
  cursor: pointer;
    
  width: 30vw;
  height: 55vh;

  border-radius: 0.5em;

  transition: transform 0.6s ease-in-out;
}

main footer figure:hover a img{ /*home*/
  transform: scale(0.95);
  opacity: 0.5;
}

figure figcaption h3{ /*home*/
  text-transform: uppercase;

  margin-top: 1em;
  margin-bottom: 0.5em;
}

figure figcaption p{ /*home*/
  font-size: 0.9em;

  padding-right: 0.7em;
  margin-bottom: 0.5em;
}

/*------------------------------------------bronnen------------------------------------------------*/

.driehoek, .driehoek2{
  position: relative;
  width: 100%;
  height: 10vh;
  background: rgb(196, 74, 94);
  margin-bottom: 6.25em;
}

.driehoek::after{ /* bron https://www.youtube.com/watch?v=6QGOhCZLdhs*/
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(2deg);
}

.driehoek2::after{ 
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(-8deg);
}

/*footer*/

body.dan footer, 
body.nu footer, 
body.toen footer{ /*dan*/ /*ALLE bronnen*/
  display: flex;
  justify-content: center;

  font-size: 0.9em;

  margin: 3em;
}

body.dan footer a,
body.nu footer a, 
body.toen footer a{
  color: white;
}

/*------------------------------------------uitproberen------------------------------------------------*/

.maincontainer{
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 320px;
  background: green;
}

.thecard{
  position: absolute;
  width: 250px;
  height: 330px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background: pink;
}